* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  line-height: 1.8;
}

body {
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.container {
  padding: 40px 80px;
}

section {
  width: 25%;
  float: left;
}

header {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

ul {
  padding-bottom: 10px;
}

button {
  color: #fff;
  border: none;
  background: none;
  margin-bottom: 15px;
}

.rectangle {
  width: 80%;
  height: 10px;
  background: #fff;
}

.inner-rectangle {
  width: 20%;
  height: 10px;
  background: #e9e9e9;
}
