* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  line-height: 1.8;
}

body {
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.container {
  padding: 60px 20px 20px 40px;
}

nav {
  position: absolute;
  left: 0;
  top: 300px;
  transform: rotate(-90deg);
}

.application-nav {
  position: absolute;
  padding: 20px;
  width: 100%;
  text-align: right;
  height: 50px;
}

.top {
  padding-bottom: 20px;
  height: 220px;
}

.middle {
  padding-bottom: 20px;
}
section {
  width: 230px;
  float: left;
  padding: 0 20px;
}
section.chart {
  width: 400px;
}

section.chart header {
  text-align: center;
  padding-bottom: 10px;
}

header,
nav {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

ul {
  padding-bottom: 10px;
}

button {
  color: #fff;
  border: none;
  background: none;
}

.rectangle {
  width: 80%;
  height: 10px;
  background: #fff;
  margin-top: 10px;
}

.inner-rectangle {
  width: 20%;
  height: 10px;
  background: #e9e9e9;
}

/* Form */
form {
  color: #fff;
  background: #000;
}

form input {
  border: none;
  border: 2px solid #fff;
  margin-top: 10px;
  background: none;
  padding: 5px;
}

form input .add-button {
  border: 0px;
}

.alert-error {
  color: red;
}

/** chart **/

.chart-outer {
  padding: 0 55px;
}
.chart-inner {
  border-radius: 125px;
  border: 2px solid #fff;
  height: 250px;
  width: 250px;
}

#line {
  width: 100%;
  margin: 20px 0;
  height: 250px;
  background: #000;
}
path {
  stroke: #fff;
  stroke-width: 2;
  fill: none;
}

/**bordered section **/

.bordered {
  border: 2px solid #fff;
  padding: 20px;
}

/** modal **/
.form {
  position: absolute;
  left: 300px;
  right: 300px;
  background: #000;
  border: 2px solid #fff;
  padding: 20px;
  top: 200px;
}

.form .close-form {
  float: right;
}
.form .add-item {
  border-width: 0px;
}

/** items **/
.list-item {
  width: 100%;
  text-align: left;
}
.item-menu {
  width: 100%;
  float: left;
}
