:root {
  --foreground-color: #fff;
  --background-color: #000;
  --alert-color: #ffb545;
  --confirmation-color: #fff;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono Bold";
  src: url("../fonts/RobotoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

* {
  box-sizing: border-box;
  color: var(--foreground-color);
  font-family: "Roboto Mono", monospace;
  line-height: 1.8;
  margin: 0;
  overflow: hidden;
  padding: 0;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

*:focus {
  outline: 1px solid #999;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-size: 12px;
  font-weight: 400;
}

.container {
  padding: 40px 20px 20px 20px;
}

.menu {
  left: 10px;
  position: absolute;
  top: 320px;
  transform: rotate(-90deg);
}

.right-menu {
  position: absolute;
  right: -80px;
  top: 320px;
  transform: rotate(90deg);
}

.right-menu li {
  display: inline;
  margin-right: 20px;
}

.application-nav {
  height: 40px;
  padding: 20px;
  position: absolute;
  text-align: right;
  width: 90%;
  -webkit-app-region: drag;
}

#close-window {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;
}

#minimize-window {
  position: absolute;
  right: 50px;
  top: 16px;
  z-index: 1000;
}

section {
  float: left;
  padding: 0 20px;
  width: 230px;
}
section.chart {
  width: 400px;
}

.hidden {
  display: none;
}

section.chart header,
.header {
  text-align: center;
}

.top {
  height: 220px;
  padding-bottom: 20px;
}

.middle {
  padding-bottom: 20px;
}

.last {
  width: 270px;
}

.header {
  background-image: url(../images/dot.svg);
  background-position: right top;
  height: 10px;
  width: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}
section ul {
  box-sizing: content-box; /* So the width will be 100% + 17px */
  max-height: 115px;
  overflow-y: scroll;
  width: 100%;
}

section ul#item-list-5 {
  max-height: 150px;
}

::-webkit-scrollbar {
  height: 0;
  /* WebKit */
  width: 0;
}

header,
.menu,
.save-record,
.header,
.clone-record,
.delete-record,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}

.edit,
.delete {
  font-size: 10px;
}

.add-item {
  margin-top: 10px;
}

button {
  background: none;
  border: none;
  color: var(--foreground-color);
}

.rectangle {
  background: var(--foreground-color);
  height: 10px;
  margin-top: 10px;
  width: 80%;
}

.item-chart {
  height: 2px;
  margin-top: 10px;
  overflow: hidden;
  width: 90%;
}

.inner-rectangle {
  background: var(--foreground-color);
  float: left;
  height: 10px;
}

.item-chart div:nth-child(2n + 1) {
  background: var(--foreground-color);
}
.item-chart div:nth-child(2n + 2) {
  background: #111;
}

/* Form */
form {
  background: var(--background-color);
  color: var(--foreground-color);
}

form input,
form .cancel-item {
  background: none;
  border: none;
  border: 2px solid var(--foreground-color);
  float: left;
  margin-top: 10px;
  padding: 5px;
  padding: 5px 10px;
}

label {
  float: left;
  line-height: 50px;
  width: 80px !important;
}

form input .add-button {
  border: 0px;
}

.alert {
  color: var(--alert-color);
}

#confirmation {
  position: absolute;
  bottom: 30px;
  left: 200px;
  width: 550px;
  text-align: center;
}
.confirmation-message {
  color: var(--confirmation-color);
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

/** chart **/

.chart-outer {
  height: 286px;
  padding: 0 55px;
}

.chart-outer span {
  width: 100%;
  text-align: center;
  float: left;
}

.chart-inner {
  border: 2px solid var(--foreground-color);
  border-radius: 125px;
  height: 250px;
  padding: 25px 10px 25px 20px;
  width: 250px;
  margin-top: 10px;
}

path {
  fill: none;
  stroke: var(--foreground-color);
  stroke-width: 2;
}

/**bordered section **/

.bordered {
  border: 2px solid var(--foreground-color);
  padding: 15px 20px 20px;
}

/** dialog **/
.dialog {
  display: none;
  background: var(--background-color);
  border: 2px solid var(--foreground-color);
  left: 350px;
  padding: 20px;
  position: absolute;
  right: 350px;
  top: 200px;
}

.dialog input {
  color: #fff;
  background: none;
  border-width: 0px;
}

.dialog p {
  padding-bottom: 10px;
}

/** modal **/
.form {
  background: var(--background-color);
  border: 2px solid var(--foreground-color);
  left: 300px;
  padding: 20px;
  position: absolute;
  right: 300px;
  top: 200px;
}

#form-submit,
#form-cancel,
#form-edit-submit,
#form-calculator-cancel,
#form-calculator-submit,
#form-calculator-edit-submit {
  border-width: 0px;
}

/**modal revised**/
.modal {
  display: none;
}

.modal,
.modal-generated {
  background: var(--background-color);
  border: 2px solid var(--foreground-color);
  left: 300px;
  padding: 20px;
  position: absolute;
  right: 300px;
  top: 200px;
  z-index: 1;
}

#modal-close,
#modal-calculator-close,
#dialog-close {
  background-image: url("../images/close.svg");
  background-position: right top;
  background-repeat: no-repeat;
  float: right;
  height: 15px;
  width: 15px;
}

.modal #form-calculator-edit-submit {
  display: none;
}

.edit #form-calculator-edit-submit {
  display: block;
}

.edit #form-calculator-category,
.edit #form-calculator-submit {
  display: none;
}

/** items **/
.list-item {
  text-align: left;
  width: 100%;
}
.item-menu {
  float: left;
  width: 100%;
}

/** history **/
path {
  fill: none;
  stroke: var(--foreground-color);
}

#timestamp {
  float: right;
  margin-right: 20px;
}

/** footer **/
footer {
  padding-left: 20px;
}
.date {
  bottom: 20px;
  position: absolute;
  right: 38px;
  z-index: 1000;
}

/** focus and text area updates**/

:focus {
  outline: none;
}

input[type="text"],
textarea,
input[type="button"] {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px var(--foreground-color);
}

input[type="button"]:focus,
textarea:focus {
  font-weight: 900;
}

input::placeholder {
  color: var(--foreground-color);
}

/** dropdown **/
select {
  background: none;
  border: 2px solid var(--foreground-color);
  margin: 10px 0 0;
  padding: 8px 10px;
  width: 195px;
}

option {
  background: var(--background-color);
  padding: 10px;
  border: none;
}

/** fade **/
body {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/** SCROLLBAR **/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground-color);
}
*::-webkit-scrollbar {
  width: 2px;
}
*::-webkit-scrollbar-track {
  background: var(--background-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--foreground-color);
}

/** Fund Chart **/

.tick text {
  color: var(--foreground-color);
  fill: var(--foreground-color);
}

/** Tome **/
#tome {
  float: left;
}

.tome-header {
  padding: 40px 30px 0px 30px;
  text-align: center;
}

.tome {
  overflow: scroll;
  height: 420px;
  margin: 10px 25px 30px 30px;
  padding-right: 20px;
}

.tome p {
  margin-bottom: 20px;
}

/**begin child window css **/

.container a {
  color: inherit;
}
.container #tooltip {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  padding: 1rem;
  /* box-shadow: 0 0 4px rgba(66, 66, 78, 0.2); */
  background: #000;
  line-height: 2;
  transition: all 0.2s ease-out;
}

.tick {
  paint-order: stroke;
  stroke: #000;
  stroke-width: 5px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  font-weight: 400;
  fill: #fff;
}

.sankey-header,
.fund-header,
.debt-burndown-header {
  padding: 35px 0 0 0;
  text-align: center;
}

.spider-header {
  padding: 30px 0 10px 0;
  text-align: center;
}

.radarChart {
  display: inline-flex;
}

/** chart **/
#lineChild {
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
}
